* {
	margin:.7em auto;
	max-width:80em;
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
	line-height: normal;
}
body {
	font-size:smaller;
}
.w20 { max-width: 20%; }
hr,
.w30 { max-width: 30%; }
.w90 { max-width: 90%; }
.w100 { width: 100%; }
.left,.left * {
	text-align: left;
}
.right,.right * {
	text-align: right;
}
