    <nav class="pages">
      <h>Pages:</h>
      <ul>
        <li><a href="https://www.gible.net">www.gible.net</a></li>
        <li><a href="echoes.html">Echoes of my mind</a></li>
        <ul>
          <li><a href="bookmarklets">Bookmarklets</a></li>
          <li><a href="install.html">Install/VMs</a></li>
          <li><a href="steam">Steam</a></li>
          <li><a href="scribbles">Scribbles</a></li>
          <li>Stars!</li>
          <li>DB Walker</li>
          <li>Mr Styx</li>
          <li>I/o <img id="usbicon" src="img/usb.svg"/></li>
        </ul>
      </ul>
    </nav>
