<!DOCTYPE HTML>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <title>Cyberstands</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <link rel="stylesheet" type="text/css" href="common.css">
    <style>
      img#usbicon {
        width:1.5em;
        height:1.5em;
        vertical-align:middle;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Preventing the conjunction of amnesia and deja vu.</h1>
    </header>
    <nav class="pages">
      <h>Pages:</h>
      <ul>
        <li><a href="https://www.gible.net">www.gible.net</a></li>
        <li><a href="echoes.html">Echoes of my mind</a></li>
        <ul>
          <li><a href="bookmarklets">Bookmarklets</a></li>
          <li><a href="install">Install/VMs</a></li>
          <li><a href="steam">Steam</a></li>
          <li><a href="scribbles">Scribbles</a></li>
          <li>Stars!</li>
          <li>DB Walker</li>
          <li>Mr Styx</li>
          <li>I/o <img id="usbicon" src="img/usb.svg"/></li>
        </ul>
      </ul>
    </nav>
    <nav class="contents">
      <h>Contents:</h>
      <ul>
        <li><a href="#conf">Configuration</a></li>
      </ul>
    </nav>
    <section>
    </section>
  </body>
</html>